.App {
    text-align: center;
}

.score {
    text-align: center;
    padding: 30px;
}

body {
    background-color: mediumslateblue;
}

.view {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 370px;
    font-size: 0px;
}

.box {
    display: inline-block;
    background-color: aquamarine;
    border: double aquamarine 6px;
    width: 25px;
    height: 25px;
}

.goal {
    background-color: gold;
}

.player {
    background-color: blue;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.red {
    background-color: rgb(71, 83, 255);
}

.aqua {
    background-color: aquamarine;
}

.t {
    border-top: double 6px;
}

.r {
    border-right: double 6px;
}

.b {
    border-bottom: double 6px;
}

.l {
    border-left: double 6px;
}

.tr {
    border-top: double 6px;
    border-right: double 6px;
}

.rb {
    border-right: double 6px;
    border-bottom: double 6px;
}

.bl {
    border-bottom: double 6px;
    border-left: double 6px;
}

.tl {
    border-top: double 6px;
    border-left: double 6px;
}

.tb {
    border-top: double 6px;
    border-bottom: double 6px;
}

.rl {
    border-right: double 6px;
    border-left: double 6px;
}

.trb {
    border-top: double 6px;
    border-right: double 6px;
    border-bottom: double 6px;
}

.rbl {
    border-right: double 6px;
    border-bottom: double 6px;
    border-left: double 6px;
}

.tbl {
    border-top: double 6px;
    border-bottom: double 6px;
    border-left: double 6px;
}

.trl {
    border-top: double 6px;
    border-right: double 6px;
    border-left: double 6px;
}
